body {
    color: rgba(0, 0, 0, 0.8);
}
sup {
    vertical-align: super;
    font-size: smaller;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}

table.table-bordered {
    border-color: rgba(0, 0, 0, 0.8);
}
table.table-bordered tr {
    border-color: rgba(0, 0, 0, 0.8);
}
table.table-bordered td {
    border-color: rgba(0, 0, 0, 0.8);
}
table.table-bordered th {
    border-color: rgba(0, 0, 0, 0.8);
}

#wpmem_login label[for='rememberme'] {
    display: inline;
}

.widget_rss {
     width: 80%;
     padding-top: 3rem;
 }
.rssSummary {
    margin-bottom:2rem;
    padding: 0 2rem;
}
.announceBox {
    background-color: rgb(217, 237, 247);
    color: rgb(49, 112, 143);
    padding: 15px;
    border: 1px solid rgb(188, 232, 241);
    border-radius: 4px;
    margin-bottom:0;
}
