{{#each this}}
<section id="{{id}}">
    <header>
      <strong>{{name}}</strong>
    </header>
    <ol style="margin-bottom:.5em;">
    {{#each publication}}
        <li value="{{position}}" class="pubSetList">
            {{> publication}}
        </li>
    {{/each}}
    </ol>
    <div style="margin-bottom:2em;">
      See <a href="{{url}}">the guideline page</a> for information that may have been updated since publication.
    </div>
</section>
{{/each}}
