<table class="table table-striped" id="tableGuidelines">
    <thead>
    <tr>
        <th style="width:20%;">Drugs</th>
        <th style="width:20%;">Genes</th>
        <th style="width:60%;">Guidelines</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td>{{#each drug}}<div>{{this}}</div>{{/each}}</td>
        <td>{{#each gene}}<div>{{this}}</div>{{/each}}</td>
        <td>
            <p><em><a href="{{url}}">guideline</a></em></p>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>